practica para el examen edificio.json
[
    {
        "id": "4af596b899ba4991",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd7f3d344ddeb7a0",
        "type": "mqtt out",
        "z": "4af596b899ba4991",
        "name": "",
        "topic": "edificio1/bryan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "06878ee4ac42cadf",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "239c32ecc8f6da3e",
        "type": "inject",
        "z": "4af596b899ba4991",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "edificio1/dylan",
        "payload": "{\"edificio1\":\"Bryan\",\"planta1\":{\"cuarto1\":{\"temp\":25,\"hum\":82},\"cuarto2\":{\"temp\":31,\"hum\":75}},\"planta2\":{\"cuarto3\":{},\"cuarto4\":{\"interruptor\":{\"led1\":\"true\",\"led2\":\"false\"}}}}",
        "payloadType": "json",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "fd7f3d344ddeb7a0",
                "c2e31a5bd52c2b43"
            ]
        ]
    },
    {
        "id": "c2e31a5bd52c2b43",
        "type": "debug",
        "z": "4af596b899ba4991",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "dba5e1c0a1bfc30b",
        "type": "mqtt in",
        "z": "4af596b899ba4991",
        "name": "",
        "topic": "edificio1/bryan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "06878ee4ac42cadf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "84dc189115d291e8",
                "bd87ce88bab6a85d",
                "9f7989d2e8e27c25",
                "8e1cc960d32e637a",
                "3272bc888967aa1e",
                "8ba3fcb40a189132",
                "0afadd61cd868501"
            ]
        ]
    },
    {
        "id": "84dc189115d291e8",
        "type": "ui_gauge",
        "z": "4af596b899ba4991",
        "name": "",
        "group": "b37ae40794ca11f8",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura Cuarto 1",
        "label": "units",
        "format": "{{payload.planta1.cuarto1.temp}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "bd87ce88bab6a85d",
        "type": "ui_gauge",
        "z": "4af596b899ba4991",
        "name": "",
        "group": "b37ae40794ca11f8",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Humedad Cuarto 1",
        "label": "units",
        "format": "{{payload.planta1.cuarto1.hum}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "9f7989d2e8e27c25",
        "type": "ui_gauge",
        "z": "4af596b899ba4991",
        "name": "",
        "group": "b37ae40794ca11f8",
        "order": 13,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura Cuarto 2",
        "label": "units",
        "format": "{{payload.planta1.cuarto2.temp}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "8e1cc960d32e637a",
        "type": "ui_gauge",
        "z": "4af596b899ba4991",
        "name": "",
        "group": "b37ae40794ca11f8",
        "order": 11,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Humedad Cuarto 2",
        "label": "units",
        "format": "{{payload.planta1.cuarto2.hum}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "3272bc888967aa1e",
        "type": "ui_switch",
        "z": "4af596b899ba4991",
        "name": "",
        "label": "Interruptor cuarto 4",
        "tooltip": "",
        "group": "d408ababc73a3bdd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload.planta2.cuarto4.interruptor",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 700,
        "wires": [
            [
                "eed62c68de73f7c6"
            ]
        ]
    },
    {
        "id": "eed62c68de73f7c6",
        "type": "ui_led",
        "z": "4af596b899ba4991",
        "order": 2,
        "group": "d408ababc73a3bdd",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "8ba3fcb40a189132",
        "type": "ui_chart",
        "z": "4af596b899ba4991",
        "name": "Cuarto 3",
        "group": "d408ababc73a3bdd",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Cuarto 3 (Vacío",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "0afadd61cd868501",
        "type": "debug",
        "z": "4af596b899ba4991",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 460,
        "wires": []
    },
    {
        "id": "06878ee4ac42cadf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b37ae40794ca11f8",
        "type": "ui_group",
        "name": "graficos",
        "tab": "71556685e7735a83",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d408ababc73a3bdd",
        "type": "ui_group",
        "name": "Planta 2",
        "tab": "71556685e7735a83",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "71556685e7735a83",
        "type": "ui_tab",
        "name": "edificio",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]